version: '3.9'

services:
  postgres:
    image: postgres:10.3
    container_name: cqrs-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydb
    volumes:
      - ./database/initdb:/docker-entrypoint-initdb.d

    command: [ "postgres" ]
  nats:
    image: "nats-streaming:latest"
    restart: always
    container_name: cqrs-nats

  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch:8.3.2"
    restart: always
    container_name: cqrs-elasticsearch
    environment:
      - "discovery.type=single-node"
  command:
    container_name: cqrs-command
    build: "."
    command: "command-service"
    depends_on:
      - postgres
      - nats
      - elasticsearch
    ports:
      - "8080:8080"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydb
      NATS_ADDRESS: "nats:4222"
  query:
    container_name: cqrs-query
    build: "."
    command: "query-service"
    depends_on:
      - postgres
      - nats
      - elasticsearch
    ports:
      - "8081:8081"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydb
      NATS_ADDRESS: "nats:4222"
      ELASTICSEARCH_ADDRESS: "elasticsearch:9200"