version: '3.9'

services:
  postgres:
    image: postgres:10.3
    container_name: cqrs-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydb
    volumes:
      - ./database/initdb:/docker-entrypoint-initdb.d

    command: [ "postgres" ]
  nats:
    image: "nats-streaming:latest"
    restart: always
    container_name: cqrs-nats

  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch:8.3.2"
    restart: always
    container_name: cqrs-elasticsearch
    environment:
      - "discovery.type=single-node"
  memcached:
    image: memcached:alpine3.16
    restart: always
    container_name: cqrs-memcached
    ports:
      - "11211"
    environment:
      - "MEMCACHED_USER=memcached"
      - "MEMCACHED_PASSWORD=memcached"
  command:
    container_name: cqrs-command
    build: "."
    command: "command-service"
    depends_on:
      - postgres
      - nats
    ports:
      - "8080"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydb
      NATS_ADDRESS: "nats:4222"
  query:
    container_name: cqrs-query
    build: "."
    command: "query-service"
    depends_on:
      - postgres
      - nats
      - elasticsearch
    ports:
      - "8080"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydb
      NATS_ADDRESS: "nats:4222"
      ELASTICSEARCH_ADDRESS: "elasticsearch:9200"
  pusher:
    container_name: cqrs-pusher
    build: "."
    command: "pusher-service"
    depends_on:
      - nats
    ports:
      - "8080"
    environment:
      NATS_ADDRESS: "nats:4222"
  nginx:
    build: "./nginx/"
    ports:
      - "8080:80"
    depends_on:
      - command
      - query
      - pusher